# Ignore the ROS 2 build folders! (This is the most important part)
build/
install/
log/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore OS junk files
.DS_Store
Thumbs.db

# Ignore code editor settings
.vscode/
.idea/